@model Spectrum.Models.CategoryViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @{ int i = 1;}
    @foreach (var category in Model.Categories)
    {
    <tr>
        <td>@(i++)</td>
        <td>@category.Code</td>
        <td>@category.Name</td>
        <td>@Html.ActionLink("Edit", "Edit", "category", new { Id = category.Id }, null)</td>
        <td>@Html.ActionLink("Delete", "Delete", "category", new { Id = category.Id }, null)</td>
    </tr>
    }
</table>

